* {
  padding: 0%;
  text-decoration: none;
  margin: auto;
  list-style: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 95px;
  top: 0;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.9);
}

header #header__borde__superior {
  margin-top: 0px;
  height: 5px;
  background-color: #572EE5;
}

header #header__logo__gifos img {
  float: left;
  margin-top: 25px;
  margin-left: 6%;
  width: 50px;
}

header #header__imagen__crear__gifo {
  display: none;
  float: right;
}

header nav {
  float: right;
  margin-top: 40px;
  margin-right: 10%;
}

footer {
  height: 156px;
}

footer .footer__contenido {
  height: 150px;
  width: 300px;
}

footer .footer__contenido h1 {
  margin-top: 47px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
}

footer .footer__contenido ul {
  margin-top: 22px;
  margin-left: 35%;
  margin-right: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__contenido p {
  margin-top: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: black;
}

footer .footer__borde__inferior {
  margin-top: 0px;
  height: 5px;
  background-color: #572EE5;
}

.search {
  margin-top: 95px;
  height: 470px;
}

.search .search__contenedor__texto__imagen h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  margin-top: 7px;
  margin-left: 44px;
  margin-right: 44px;
}

.search .search__contenedor__texto__imagen h1 span {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #75e9d4;
  text-align: center;
  line-height: 33px;
}

.search .search__contenedor__texto__imagen img {
  margin-top: 31px;
  width: 273px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.search .search__contenedor__buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 334px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .search__contenedor__buscador input {
  width: 215px;
  height: 22px;
  margin-left: 55px;
  margin-top: 13px;
  font-family: 'Roboto', sans-serif;
}

.search .search__contenedor__buscador img {
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search h2 {
  margin-top: 31px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.search p {
  margin-top: 2px;
  margin-right: 75px;
  margin-left: 75px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

.trending {
  background-color: #F3F5F8;
  height: 470px;
  border: 0.1px solid white;
}

.trending h1 {
  margin-top: 46px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.trending #trending__texto p {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
}

.favorites_mygifos {
  margin-top: 95px;
  height: 108px;
  text-align: center;
}

.favorites_mygifos img {
  margin-top: 5px;
  width: 25px;
}

.favorites_mygifos h1 {
  margin-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.gallery {
  height: 1043px;
  text-align: center;
  border: 1px solid red;
}

@media screen and (min-width: 1200px) {
  header #header__borde__superior {
    background-color: #572EE5;
  }
  header #header__logo__gifos img {
    float: left;
    margin-top: 29px;
    margin-left: 156px;
    width: 48.8px;
  }
  header nav {
    margin-top: 10px;
    margin-right: 2%;
  }
  header nav .header__nav__boton__hamburguesa {
    display: none;
  }
  header nav .nav__contenedor__menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #572EE5;
    width: 500px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav__contenedor__menu .nav__lista__menu {
    background: white;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav__contenedor__menu .nav__lista__menu .menuLink {
    padding-inline: 30px;
    color: #572EE5;
  }
  header nav .nav__contenedor__menu .showMenu {
    -webkit-transform: unset;
            transform: unset;
    width: 0px;
    height: 0px;
  }
  header #header__imagen__crear__gifo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 153px;
    margin-top: 23px;
  }
  header #header__imagen__crear__gifo img {
    width: 48.8px;
  }
  .search {
    margin-top: 150px;
  }
  .search .search__contenedor__texto__imagen {
    width: 700px;
  }
  .search .search__contenedor__texto__imagen h1 {
    font-size: 35px;
  }
  .search .search__contenedor__texto__imagen img {
    width: 400px;
  }
  .search .search__contenedor__buscador {
    width: 551px;
    height: 50px;
  }
  .search .search__contenedor__buscador input {
    width: 400px;
    height: 22px;
  }
  .search h2 {
    font-size: 18px;
  }
  .search p {
    font-size: 16px;
  }
  .trending h1 {
    font-size: 25px;
  }
  .trending #trending__texto {
    width: 500px;
    height: 30px;
    text-align: center;
  }
  .trending #trending__texto p {
    display: inline-block;
    left: auto;
    font-size: 18px;
  }
  footer {
    height: 116px;
  }
  footer .footer__contenido {
    height: 30px;
    width: 95%;
    margin-top: 40px;
    display: inline-block;
  }
  footer .footer__contenido h1 {
    margin-left: 12%;
    text-align: unset;
    margin-top: 0px;
    display: inline-block;
    font-size: 15px;
  }
  footer .footer__contenido ul {
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 0%;
    padding: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .footer__contenido ul li {
    padding-inline: 12px;
  }
  footer .footer__contenido p {
    margin-top: 0px;
    margin-left: 50%;
    text-align: unset;
    display: inline-block;
  }
  footer .footer__borde__inferior {
    margin-top: 40px;
  }
  .favorites_mygifos {
    margin-top: 140px;
  }
  .favorites_mygifos img {
    width: 28px;
  }
  .favorites_mygifos h1 {
    font-size: 25px;
  }
}

nav .header__nav__boton__hamburguesa {
  position: fixed;
  /* keep the hamburger button above everything */
  top: 40%;
  z-index: 10;
  right: 10%;
  background: white;
}

nav .header__nav__boton__hamburguesa .nav__menu__icon img {
  width: 25px;
}

nav .header__nav__boton__hamburguesa .nav__cierre__icon {
  display: none;
}

nav .header__nav__boton__hamburguesa .nav__cierre__icon img {
  width: 25px;
}

nav .nav__contenedor__menu {
  margin-left: 10%;
}

nav .nav__contenedor__menu .nav__lista__menu {
  background: #572EE5;
  color: #FFFFFF;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

nav .nav__contenedor__menu .showMenu {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  width: 375px;
  height: 200px;
}

nav .nav__contenedor__menu li {
  text-align: center;
  padding-top: 9%;
}

nav .nav__contenedor__menu .menuLink {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-size: 15x;
  color: white;
}

.creando__gifos .creando__gifos__contenedor__principal {
  height: 572px;
  margin-top: 100px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior {
  height: 390px;
  width: 1070px;
  list-style: none;
  margin: 0px auto;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_camara {
  float: left;
  margin-top: 118px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_camara img {
  width: 123px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_luz_camara {
  float: left;
  margin-top: 138px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_luz_camara img {
  margin-top: 4px;
  width: 70px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_rectangulo_crear_gifos {
  float: left;
  height: 390px;
  width: 688px;
  border: 1px solid #572EE5;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_rectangulo_crear_gifos h1 {
  margin-top: 134px;
  font-family: 'Montserrat';
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_rectangulo_crear_gifos h1 span {
  color: #75e9d4;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__superior .cis_rectangulo_crear_gifos h2 {
  margin-top: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio {
  width: 1120px;
  height: 75px;
  border: 1px dashed white;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cim__botonera {
  width: 180px;
  margin-left: 470px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cim__botonera .cim__botonera__boton {
  margin-top: 20px;
  width: 32px;
  height: 32px;
  border: 1px solid #572EE5;
  border-radius: 25px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cim__botonera .cim__botonera__boton h1 {
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #572EE5;
  letter-spacing: 0;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cim__temporizador {
  float: left;
  width: 80px;
  height: 22px;
  margin-left: 160px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #572EE5;
  display: none;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cii__boton__repetir_captura {
  float: left;
  width: 170px;
  height: 16px;
  margin-left: 95px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #572EE5;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cii_linea_inferior_repetir_captura {
  margin-top: 2px;
  width: 140px;
  height: 2px;
  background-color: #5ED7C6;
  border-radius: 15px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__medio .cim__pelicula {
  float: right;
  margin-top: -1.5%;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior {
  height: 103px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__rectangulo__delgado {
  margin-top: 73px;
  width: 800px;
  height: 6px;
  background-color: #572EE5;
  border-radius: 15px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__comenzar {
  margin-top: 20px;
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__comenzar h1 {
  padding: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__grabar {
  margin-top: 20px;
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  display: none;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__grabar h1 {
  padding: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__subir_gifo {
  margin-top: 20px;
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  display: none;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__subir_gifo h1 {
  padding: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__finalizar {
  margin-top: 20px;
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  display: none;
}

.creando__gifos .creando__gifos__contenedor__principal .contenedor__interno__inferior .cii__boton__finalizar h1 {
  padding: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
}
/*# sourceMappingURL=style.css.map */