// INICIO EN CEROS DE POSICIONAMIENTO GENERAL

*{
    padding: 0%;
    text-decoration:none;
    margin: auto;
    list-style: none;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

@import './partials/variables' ;
@import './partials/header' ;
@import './partials/footer';
@import './partials/sectionsearch';
@import './partials/sectiontrending';
@import './partials/favorites_mygifos';
@import './partials/gallery';
@import './partials/mediaq' ;
@import './partials/menudesplegable' ;
@import './partials/creando_gifos' ;
