.creando__gifos{
    .creando__gifos__contenedor__principal{
        height: 572px;
        //border: 1px solid yellow;
        margin-top: 100px;
        .contenedor__interno__superior{
            height: 390px;
            //border: 1px solid red;
            list-style: none;
            margin-left: 11%;
            display: inline-flex;
                .cis_camara{
                    img{
                        width: 123px;
                    }
                }
                .cis_luz_camara{
                    img{
                        margin-top: 4px;
                        width:70px;
                    }
                }
                .cis_rectangulo_crear_gifos{
                    height: 390px;
                    width: 688px;
                    border: 1px solid #572EE5;
                    margin-left: 0px;
                    //text-align: center;
                    h1{
                        margin-top: 134px;
                        font-family: 'Montserrat';
                        font-size: 25px;
                        color: #572EE5;
                        text-align: center;
                        line-height: 35px;
                        span{
                            color: #75e9d4;
                        }
                    }
                    h2{
                        margin-top: 6px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: #000000;
                        text-align: center;
                        line-height: 29px;
                    }
                }

            
        }
        .contenedor__interno__medio{
            height: 75px;
            //border: 1px solid red;
            display: inline-flex;
            margin-left: 50%;
            .cim__botonera{
                width: 300px;
                margin-left: -22.5%;
                //border: 1px solid red;
                display: flex;
                
                .cim__botonera__boton{
                    margin-left: 25px;
                    width: 32px;
                    height: 32px;
                    border: 1px solid #572EE5;
                    border-radius: 25px;
                    h1{
                        padding: 5px;
                        text-align: center;
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        color: #572EE5;
                        letter-spacing: 0;
                    }
                }
            }
            .cim__pelicula{
                margin-top: -1.5%;
                margin-left: 80%;
            }
        }

        .contenedor__interno__inferior{
            height: 103px;
            //border: 1px solid red;
            .cii__rectangulo__delgado{
                width: 800px;
                height: 6px;
                background-color: #572EE5;
                border-radius: 15px;
            }
            .cii__boton__comenzar{
                margin-top: 20px;
                width: 127px;
                height: 50px;
                border: 1px solid #572EE5;
                border-radius: 25px;
                h1{
                    padding: 16px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    color: #572EE5;
                    letter-spacing: 0;
                }
            }
            .cii__boton__grabar{
                margin-top: 20px;
                width: 127px;
                height: 50px;
                border: 1px solid #572EE5;
                border-radius: 25px;
                display: none;
                h1{
                    padding: 16px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    color: #572EE5;
                    letter-spacing: 0;
                    
                }
            }
            .cii__boton__subir_gifo{
                margin-top: 20px;
                width: 127px;
                height: 50px;
                border: 1px solid #572EE5;
                border-radius: 25px;
                display: none;
                h1{
                    padding: 16px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    color: #572EE5;
                    letter-spacing: 0;
                    
                }
            }
            .cii__boton__finalizar{
                margin-top: 20px;
                width: 127px;
                height: 50px;
                border: 1px solid #572EE5;
                border-radius: 25px;
                display: none;
                h1{
                    padding: 16px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 13px;
                    color: #572EE5;
                    letter-spacing: 0;
                    
                }
            }
        }
    }

}