
footer{
    //width: 375px;
    height: 196px;
    //border: 1px solid green;
    #footer__contenido{
        height: 150px;
        width: 300px;
        h1{
            margin-top: 47px;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            text-align: center;
        }
        ul{
            margin-top: 22px;
            margin-left: 35%;
            margin-right: 35%;
            display: flex;
            //border: 1px solid red;
        }
        p{
            margin-top: 46px;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            text-align: center;
            line-height: 20px;
            color: black;
        }
    }
    

    #footer__borde__inferior{
        margin-top: 0px;
        //width: 375px;
        height: 5px;
        background-color: #572EE5;
    }
}