header {
    width: 100%;
    height: 95px;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.9);
    //border: 1px solid red;
    #borde_superior{
        margin-top: 0px;
        //width: 375px;
        height: 5px;
        background-color: #572EE5;
    }
    img {
        float: left;
        margin-top: 29px;
        margin-left: 6%;
        width: 48.8px;
    }
    #imagen_crear_gifo{
        display: none;
        float: right;
    }
    nav {
        float: right;
        margin-top:10px;
        margin-right: 10%;
        //border: 1px solid red;
        #imagen_hamburguesa{
            img{
                width: 25px;
            }
        }
        .menu ul{
            position: absolute;
            //right: 0;
            overflow: hidden;
            text-decoration:none;
            background: #0000ec;
            height: 0px;
            //display: none;
        
        }
    }


}
