// MEDIAQUERY PARA 1200 PX

@media screen and (min-width: 1200px){
// ELEMENTOS DEL HEADER - CAMBIO DE POSICIONES DEL NAV  
    header {
        #borde_superior{
        background-color: #572EE5;
        }   
        img {
            float: left;
            margin-top: 29px;
            margin-left: 11%;
            width: 48.8px;
        }     
        nav{
            #imagen_hamburguesa{
                display: none;
            }
            .menu{
                margin-top: 8%;
                font-family:'Montserrat', sans-serif;
                font-size: 13px;
                color: #572EE5;
                ul{
                    position: unset;
                    overflow: unset;
                    li {
                        display: inline-block;
                        padding-inline: 12px;
                    } 
                }
            }
        }
        #imagen_crear_gifo{
            display: inline-flex;
            margin-right: 10%;
            margin-top: -.5%;
        }

    }

// ELEMENTOS DE LA SECCIÓN SEARCH - CAMBIO DE POSICIONES
    .search{
        margin-top: 150px;
        .contenedor_texto_imagen{
            width: 700px;
            h1{
                font-size: 35px;
            }
            img{
                width: 400px;
            }
        }
        .contenedor_buscador{
            width: 551px;
            height: 50px;
            input{
                width: 400px;
                height: 22px;
            }
        }
        h2{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
        
    }

// ELEMENTOS DE LA SECCIÓN TRENDINGS - CAMBIO DE POSICIONES
    .trending{
        h1{
            font-size: 25px; 
        }
        #texto{
            width: 500px;
            height: 30px;
            //border: 1px solid red;
            text-align: center;
            p{
                display: inline-block;
                left: auto;
                font-size: 18px;
            }
        }

    }
// ELEMENTOS DE LA SECCIÓN FOOTER - CAMBIO DE POSICIONES
footer{
    #contenido_footer{
        height: 30px;
        width: 95%;
        //border: 1px solid red;
        margin-top: 80px;
        display: inline-block;
        h1{
            margin-left: 12%;
            text-align: unset;
            margin-top: 0px;
            display: inline-block;
            font-size: 15px;
        }
        ul{
            margin-top: 5px;
            margin-left: 1%;
            margin-right: 0%;
            padding: 0px;
            display: inline-flex;
            li{
                padding-inline: 12px;
            }
            //border: 1px solid red;

        }
        p{
            margin-top: 0px;
            margin-left: 50%;
            text-align: unset;
            display: inline-block;
            }
        }
        #borde_inferior{
            margin-top:80px;
        }
    } 
// ELEMENTOS DE LA PAGINA FAVORITOS  - CAMBIO DE TAMAÑO 
    .favorites_mygifos{
        margin-top: 140px;
        img{
            width: 28px;
        }
        h1{
            font-size: 25px;
        }


    }
}