
.trending{
    background-color: #F3F5F8;
    height: 470px;
    border: 0.1px solid white;
    h1{
        margin-top: 46px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 30px;
    }
    #texto{
        p{
            //width: 200px;
            margin-top: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            text-align: center;
            line-height: 23px;
        }
    }

}