.search{
    margin-top: 95px;
    //width: 375px;
    height: 470px;
    border: 1px solid red;
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: #572EE5;
        text-align: center;
        line-height: 33px;
        margin-top: 7px;
        margin-left: 44px;
        margin-right: 44px;
    }
    img{
        margin-top: 31px;
        width: 273px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

